@page "/labirint"
@inject SoundService _soundService
<PageTitle>Лабиринт</PageTitle>
<MudStack Spacing="3">
    <MudText Typo="Typo.h4">Лабиринт!</MudText>
    <div class="key-interceptor" @onkeydown="OnKeyDown" @ref="_keyInterceptorRef" tabindex="0">
        @if (_isInit == false)
        {
            <MudStack AlignItems="AlignItems.Center" Row>
                <MudProgressCircular Indeterminate />
                <MudText Typo="Typo.body1">Загрузка..</MudText>
            </MudStack>
        }
        else
        {
            <div class="field">
                @{
                    var boxSize = 370 / _originalSizeDisplay;
                    var wallWidth = Math.Max(1, boxSize / 10 * 2);
                    int entityBoxSize = boxSize * 2 - wallWidth;

                    for (int i = 1; i < _labSize - 1; i += 2)
                    {
                        for (int j = 1; j < _labSize - 1; j += 2)
                        {
                            if (lab[i, j - 1] == 0)
                            {
                                <DrawLine Width="@(wallWidth)"
                                          X1="@(j * boxSize - boxSize)"
                                          X2="@(j * boxSize - boxSize)"
                                          Y1="@(i * boxSize - boxSize)"
                                          Y2="@(i * boxSize + boxSize)" />
                            } //leftborder

                            if (lab[i - 1, j] == 0)
                            {
                                <DrawLine Width="@(wallWidth)"
                                          X1="@(j * boxSize - boxSize)"
                                          X2="@(j * boxSize + boxSize)"
                                          Y1="@(i * boxSize - boxSize)"
                                          Y2="@(i * boxSize - boxSize)" />
                            } //upborder

                            if (i == _labSize - 2 || j == _labSize - 2)
                            {
                                if (lab[i, j + 1] == 0)
                                {
                                    <DrawLine Width="@(wallWidth)"
                                              X1="@(j * boxSize + boxSize)"
                                              X2="@(j * boxSize + boxSize)"
                                              Y1="@(i * boxSize - boxSize)"
                                              Y2="@(i * boxSize + boxSize)" />
                                } //rightborder

                                if (lab[i + 1, j] == 0)
                                {
                                    <DrawLine Width="@(wallWidth)"
                                              X1="@(j * boxSize - boxSize)"
                                              X2="@(j * boxSize + boxSize)"
                                              Y1="@(i * boxSize + boxSize)"
                                              Y2="@(i * boxSize + boxSize)" />
                                } //downborder
                            }


                            if (_sand[i, j] == 0)
                            {
                                int left = (j - 1) * boxSize + wallWidth;
                                int top = (i - 1) * boxSize + wallWidth;
                                <div style="position:absolute;
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: flex-end;
                                                    left: @(left)px;
                                                    top: @(top)px;
                                                    width: @(entityBoxSize)px;
                                                    height: @(entityBoxSize)px;">
                                    <img src="/images/sand.png" style="width: @(boxSize)px; height: @(boxSize)px;" />
                                </div>
                            }
                        }
                    }
                    int myLeft = (_myPositionX - 1) * boxSize + wallWidth;
                    int myTop = (_myPositionY - 1) * boxSize + wallWidth;
                    <div style="position:absolute;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        left: @(myLeft)px;
                                        top: @(myTop)px;
                                        width: @(entityBoxSize)px;
                                        height: @(entityBoxSize)px;">
                        <img src="/images/runner.png" style="width: @(boxSize)px; height: @(boxSize)px;" />
                    </div>
                }
            </div>

            <div style="position: absolute; right: 20px; width: 250px;">
                <MudStack Spacing="3">
                    <MudText Typo="Typo.h6">Очки: @_score</MudText>
                    <MudDivider Class="my-2" Style="height:2px" DividerType="DividerType.FullWidth" />
                    <MudText Typo="Typo.h5">Параметры:</MudText>
                    <MudStack>
                        <MudNumericField Label="Размер" Min="@MinSize" Max="@MaxSize" DebounceInterval="300" Value="@_originalSize" HelperText="Попробуй тут шифт + колесо мыши" />
                        <MudSlider @bind-Value="_originalSize" Min="@MinSize" Max="@MaxSize" Color="Color.Info" Size="Size.Medium" />
                    </MudStack>
                    <MudStack Row>
                        <MudIcon Color="Color.Warning" Icon="@MaterialDesignIcons.Normal.Hammer" Size="Size.Large" />
                        <MudText Color="Color.Warning" Typo="Typo.h6">@_molot</MudText>
                    </MudStack>
                    <MudStack Row>
                        <MudIcon Color="Color.Error" Icon="@MaterialDesignIcons.Normal.Bomb" Size="Size.Large" />
                        <MudText Color="Color.Error" Typo="Typo.h6"> @_bomba</MudText>
                    </MudStack>
                    <MudButton OnClick="Generate" Variant="Variant.Outlined" Color="Color.Info" FullWidth>Генерировать</MudButton>
                    <MudButton OnClick="FocusField" Variant="Variant.Outlined" Color="Color.Info" FullWidth>Играть</MudButton>
                </MudStack>
            </div>
        }
    </div>
</MudStack>
@code {
    const string MoveUpKey = "ArrowUp";
    const string MoveDownKey = "ArrowDown";
    const string MoveLeftKey = "ArrowLeft";
    const string MoveRightKey = "ArrowRight";

    const string MolotKeyCode = "KeyA";
    const string BombaKeyCode = "KeyB";

    const int MinSize = 1;
    const int MaxSize = 100;


    private int _minSize = 1;
    private int _maxSize = 100;

    private int _myPositionX;
    private int _myPositionY;

    private ElementReference _keyInterceptorRef;
    private bool _isInit;

    private int _originalSize;
    private int _originalSizeDisplay;
    private int _labSize;

    private int[,] lab;
    private int[,] lab2;
    private int[,] _sand;
    private bool _exitNotFound;
    private int _exitBoxPostionX;
    private int _exitBoxPostionY;
    private int _score = 0;

    private bool _ataka;
    private int _bomba;
    private int _molot;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await FocusField();
            _originalSize = 16;
            await Generate();
            StateHasChanged();
        }
    }

    private async Task OnKeyDown(KeyboardEventArgs e)
    {
        if (_exitNotFound)
        {
            if (e.Code == MolotKeyCode && _molot > 0)
            {
                _ataka = true;
                _molot--;
                await _soundService.PlayAsync(SoundType.Molot);
                //textmolot.Text = Convert.ToString(_molot);
            }
            if (e.Code == BombaKeyCode && _bomba > 0)
            {
                if (_myPositionX != _originalSize * 2 - 1)
                {
                    lab[_myPositionY, _myPositionX + 1] = 1;
                }
                if (_myPositionX != 1)
                {
                    lab[_myPositionY, _myPositionX - 1] = 1;
                }
                if (_myPositionY != 1)
                {
                    lab[_myPositionY - 1, _myPositionX] = 1;
                }
                if (_myPositionY != _originalSize * 2 - 1)
                {
                    lab[_myPositionY + 1, _myPositionX] = 1;
                }
                _bomba--;
                //textbomb.Text = Convert.ToString(_bomba);
                await _soundService.PlayAsync(SoundType.Bomb);
                _ataka = false;
            }
            if (_ataka && e.Code != MolotKeyCode)
            {
                if (e.Key == MoveRightKey && _myPositionX != _originalSize * 2 - 1)
                {
                    lab[_myPositionY, _myPositionX + 1] = 1;
                }
                if (e.Key == MoveLeftKey && _myPositionX != 1)
                {
                    lab[_myPositionY, _myPositionX - 1] = 1;
                }
                if (e.Key == MoveUpKey && _myPositionY != 1)
                {
                    lab[_myPositionY - 1, _myPositionX] = 1;
                }
                if (e.Key == MoveDownKey && _myPositionY != _originalSize * 2 - 1)
                {
                    lab[_myPositionY + 1, _myPositionX] = 1;
                }
                _ataka = false;
            }
            if (!_ataka)
            {
                switch (e.Key)
                {
                    case MoveUpKey:
                        await Move(0, -1);
                        break;

                    case MoveDownKey:
                        await Move(0, 1);
                        break;

                    case MoveLeftKey:
                        await Move(-1, 0);
                        break;

                    case MoveRightKey:
                        await Move(1, 0);
                        break;
                }
            }
        }
    }

    private async Task Move(int xOffset, int yOffset)
    {
        if (lab[_myPositionY + yOffset, _myPositionX + xOffset] == 0)
            return;

        _myPositionX += xOffset * 2;
        _myPositionY += yOffset * 2;
        await _soundService.PlayAsync(SoundType.Step);
        if (_myPositionX == _exitBoxPostionX && _myPositionY == _exitBoxPostionY)
        {
            _exitNotFound = false;
        }
        else
        {
            if (_sand[_myPositionY, _myPositionX] == 0)
            {
                _sand[_myPositionY, _myPositionX] = 1;
                _score += 100;
                await _soundService.PlayAsync(SoundType.Score);
            }
        }
    }

    private async Task Generate()
    {
        //todo Костыль чтоб цвет обновлялся, надо больше времени подумать.
        // (Не перерисовывает если стена осталась на прежнем месте)
        // Но в принципе то работает))))))
        _labSize = 0;
        StateHasChanged();
        await Task.Delay(1);

        _myPositionX = 1;
        _myPositionY = 1;
        _exitNotFound = true;
        _originalSize = ClampSize(_originalSize);
        _originalSizeDisplay = _originalSize;

        var density = 3;

        int n = _originalSize * 2 + 1;
        lab = new int[n, n];
        _labSize = n;
        _molot = 3;
        _bomba = 1;
        _score = 0;

        for (int i = 0; i < n; i++)
        {
            for (int j = 0; j < n; j++)
            {
                if (i == 0 || i == n - 1)
                {
                    lab[i, j] = 0;
                }

                if (j == 0 || j == n - 1)
                {
                    lab[i, j] = 0;
                }

                if (i % 2 == 1 && j % 2 == 1)
                {
                    lab[i, j] = 2;
                }

                if ((i > 0 && i % 2 == 0 && i < n - 1 && j > 0 && j % 2 == 1 && j < n - 1) ||
                    (i > 0 && i % 2 == 1 && i < n - 1 && j > 0 && j % 2 == 0 && j < n - 1))
                {
                    lab[i, j] = Random.Shared.Next(0, density);
                }
            }

            _exitBoxPostionX = n / 2 - (_originalSize % 2 == 0 ? 1 : 0);
            _exitBoxPostionY = n;
            lab[_exitBoxPostionY - 1, _exitBoxPostionX] = 1;
        }

        lab2 = new int[n, n];

        for (int i = 0; i < n; i++)
        {
            for (int j = 0; j < n; j++)
            {
                lab2[i, j] = 1;
            }
        }

        _sand = lab2;

        for (int i = 1; i < _labSize; i++)
        {
            _sand[Random.Shared.Next(1, n / 2 + 1) * 2 - 1, Random.Shared.Next(1, n / 2 + 1) * 2 - 1] = 0;
        }
        _isInit = true;

        await FocusField();
    }

    private async Task FocusField()
    {
        if (_keyInterceptorRef is { Id: not null, Context: not null })
        {
            await _keyInterceptorRef.FocusAsync();
        }
    }

    private void UpdateSize(ChangeEventArgs eventArgs)
    {
        int size = int.Parse(eventArgs.Value?.ToString() ?? "1");
        _originalSize = ClampSize(size);
    }

    private int ClampSize(int size)
    {
        switch (size)
        {
            case < MinSize:
                size = MinSize;
                break;

            case > MaxSize:
                size = MaxSize;
                break;
        }

        return size;
    }
}