@page "/labirint"

<PageTitle>Лабиринт</PageTitle>

<h1>Лабиринт</h1>

<div class="key-interceptor" @onkeydown="OnKeyDown" @ref="_keyInterceptorRef" tabindex="0">
    @if (_isInit == false)
    {
        <p>
            <em>Загрузка...</em>
        </p>
    }
    else
    {
        <div class="field">
            @{
                var boxSize = 370 / _originalSizeDisplay;
                var wallWidth = Math.Max(1, boxSize / 10 * 2);
                int entityBoxSize = boxSize * 2 - wallWidth;

                for (int i = 1; i < _labSize - 1; i += 2)
                {
                    for (int j = 1; j < _labSize - 1; j += 2)
                    {
                        if (lab[i, j - 1] == 0)
                        {
                            <DrawLine Width="@(wallWidth)"
                                      X1="@(j * boxSize - boxSize)"
                                      X2="@(j * boxSize - boxSize)"
                                      Y1="@(i * boxSize - boxSize)"
                                      Y2="@(i * boxSize + boxSize)" />
                        } //leftborder

                        if (lab[i - 1, j] == 0)
                        {
                            <DrawLine Width="@(wallWidth)"
                                      X1="@(j * boxSize - boxSize)"
                                      X2="@(j * boxSize + boxSize)"
                                      Y1="@(i * boxSize - boxSize)"
                                      Y2="@(i * boxSize - boxSize)" />
                        } //upborder

                        if (i == _labSize - 2 || j == _labSize - 2)
                        {
                            if (lab[i, j + 1] == 0)
                            {
                                <DrawLine Width="@(wallWidth)"
                                          X1="@(j * boxSize + boxSize)"
                                          X2="@(j * boxSize + boxSize)"
                                          Y1="@(i * boxSize - boxSize)"
                                          Y2="@(i * boxSize + boxSize)" />
                            } //rightborder

                            if (lab[i + 1, j] == 0)
                            {
                                <DrawLine Width="@(wallWidth)"
                                          X1="@(j * boxSize - boxSize)"
                                          X2="@(j * boxSize + boxSize)"
                                          Y1="@(i * boxSize + boxSize)"
                                          Y2="@(i * boxSize + boxSize)" />
                            } //downborder
                        }


                        if (_sand[i, j] == 0)
                        {
                            int left = (j - 1) * boxSize + wallWidth;
                            int top = (i - 1) * boxSize + wallWidth;

                            <div style="position:absolute;
                                        display: flex;
                                        justify-content: center;
                                        align-items: flex-end;
                                        left: @(left)px;
                                        top: @(top)px;
                                        width: @(entityBoxSize)px;
                                        height: @(entityBoxSize)px;">
                                <img src="/images/sand.png" style="width: @(boxSize)px; height: @(boxSize)px;"/>
                            </div>
                        }
                    }
                }
                
               int myLeft = (_myPositionX - 1) * boxSize + wallWidth;
               int myTop = (_myPositionY - 1) * boxSize + wallWidth;
               
               <div style="position:absolute;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           left: @(myLeft)px;
                           top: @(myTop)px;
                           width: @(entityBoxSize)px;
                           height: @(entityBoxSize)px;">
                   <img src="/images/runner.png" style="width: @(boxSize)px; height: @(boxSize)px;"/>
               </div>
                
            }
        </div>

        <div style="position: absolute; right: 20px; width: 250px;">
            <div>Score: @_score</div>

            <div style="display: flex; flex-direction: column; margin: 10px 0">
                <label>Size (@MinSize..@MaxSize):</label>
                <input @bind:event="oninput"
                       @bind:get="_originalSize"
                       @bind:set="value => { _originalSize = ClampSize(value); }"
                       @onchange="@UpdateSize"
                       type="number"/>

                <input @bind:event="oninput"
                       @bind:get="_originalSize"
                       @bind:set="value => { _originalSize = ClampSize(value); }"
                       @onchange="@UpdateSize"
                       min="@MinSize"
                       max="@MaxSize"
                       type="range"/>

            </div>

            <div style="margin-bottom: 10px">
                <button @onclick="Generate">Generate</button>
                <button @onclick="FocusField">Play</button>
            </div>
        </div>
    }

</div>

@code {
    const string MoveUpKey = "ArrowUp";
    const string MoveDownKey = "ArrowDown";
    const string MoveLeftKey = "ArrowLeft";
    const string MoveRightKey = "ArrowRight";
    
    const int MinSize = 1;
    const int MaxSize = 100;

    private int _myPositionX;
    private int _myPositionY;

    private ElementReference _keyInterceptorRef;
    private bool _isInit;

    private int _originalSize;
    private int _originalSizeDisplay;
    private int _labSize;

    private int[,] lab;
    private int[,] lab2;
    private int[,] _sand;
    private bool _exitNotFound;
    private int _exitBoxPostionX;
    private int _exitBoxPostionY;
    private int _score = 0;

    protected override async Task OnInitializedAsync()
    {
        _originalSize = 16;
        await Generate();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await FocusField();
        }
    }

    private void OnKeyDown(KeyboardEventArgs e)
    {
        if (_exitNotFound)
        {
            // if (e.KeyCode == Keys.A && Global.molot > 0)
            // {
            //     Global.ataka = true;
            //     Global.molot--;
            //     textmolot.Text = Convert.ToString(Global.molot);
            // }
            // Graphics g = this.CreateGraphics();
            // Pen p = new Pen(BackColor, Global.step / 5);
            // if (e.KeyCode == Keys.B && Global.bomba > 0)
            // {
            //     if (_myPositionX != Global.size * 2 - 1)
            //     {
            //         Global.lab[_myPositionX + 1, _myPositionY] = 1;
            //     }
            //     if (_myPositionX != 1)
            //     {
            //         Global.lab[_myPositionX - 1, _myPositionY] = 1;
            //     }
            //     if (_myPositionY != 1)
            //     {
            //         Global.lab[_myPositionX, _myPositionY - 1] = 1;
            //     }
            //     if (_myPositionY != Global.size * 2 - 1)
            //     {
            //         Global.lab[_myPositionX, _myPositionY + 1] = 1;
            //     }
            //     clear();
            //     Global.bomba--;
            //     textbomb.Text = Convert.ToString(Global.bomba);
            //     Global.ataka = false;
            // }
            // if (Global.ataka && e.KeyCode != Keys.A)
            // {
            //     if (e.KeyCode == Keys.Down && _myPositionX != Global.size * 2 - 1)
            //     {
            //         Global.lab[_myPositionX + 1, _myPositionY] = 1;
            //     }
            //     if (e.KeyCode == Keys.Up && _myPositionX != 1)
            //     {
            //         Global.lab[_myPositionX - 1, _myPositionY] = 1;
            //     }
            //     if (e.KeyCode == Keys.Left && _myPositionY != 1)
            //     {
            //         Global.lab[_myPositionX, _myPositionY - 1] = 1;
            //     }
            //     if (e.KeyCode == Keys.Right && _myPositionY != Global.size * 2 - 1)
            //     {
            //         Global.lab[_myPositionX, _myPositionY + 1] = 1;
            //     }
            //     clear();
            //     Global.ataka = false;
            // }
            if (true) //!Global.ataka)
            {
                switch (e.Key)
                {
                    case MoveUpKey:
                        Move(0, -1);
                        break;

                    case MoveDownKey:
                        Move(0, 1);
                        break;

                    case MoveLeftKey:
                        Move(-1, 0);
                        break;

                    case MoveRightKey:
                        Move(1, 0);
                        break;
                }
            }
        }
    }

    private void Move(int xOffset, int yOffset)
    {
        if (lab[_myPositionY + yOffset, _myPositionX + xOffset] == 0)
            return;

        _myPositionX += xOffset * 2;
        _myPositionY += yOffset * 2;

        if (_myPositionX == _exitBoxPostionX && _myPositionY == _exitBoxPostionY)
        {
            _exitNotFound = false;
        }
        else
        {
            if (_sand[_myPositionY, _myPositionX] == 0)
            {
                _sand[_myPositionY, _myPositionX] = 1;
                _score += 100;
            }
        }
    }

    private async Task Generate()
    {
        var rnd = new Random();

        _myPositionX = 1;
        _myPositionY = 1;
        _exitNotFound = true;
        _originalSize = ClampSize(_originalSize);
        _originalSizeDisplay = _originalSize;

        var density = 3;

        int n = _originalSize * 2 + 1;
        lab = new int[n, n];
        _labSize = n;

        for (int i = 0; i < n; i++)
        {
            for (int j = 0; j < n; j++)
            {
                if (i == 0 || i == n - 1)
                {
                    lab[i, j] = 0;
                }

                if (j == 0 || j == n - 1)
                {
                    lab[i, j] = 0;
                }

                if (i % 2 == 1 && j % 2 == 1)
                {
                    lab[i, j] = 2;
                }

                if ((i > 0 && i % 2 == 0 && i < n - 1 && j > 0 && j % 2 == 1 && j < n - 1) || 
                    (i > 0 && i % 2 == 1 && i < n - 1 && j > 0 && j % 2 == 0 && j < n - 1))
                {
                    lab[i, j] = rnd.Next(0, density);
                }
            }

            _exitBoxPostionX = n / 2 - (_originalSize % 2 == 0 ? 1 : 0);
            _exitBoxPostionY = n;
            lab[_exitBoxPostionY - 1, _exitBoxPostionX] = 1;
        }

        lab2 = new int[n, n];

        for (int i = 0; i < n; i++)
        {
            for (int j = 0; j < n; j++)
            {
                lab2[i, j] = 1;
            }
        }

        _sand = lab2;

        for (int i = 1; i < _labSize; i++)
        {
            _sand[rnd.Next(1, n / 2 + 1) * 2 - 1, rnd.Next(1, n / 2 + 1) * 2 - 1] = 0;
        }

        _isInit = true;
        
        await FocusField();
    }

    private async Task FocusField()
    {
        if (_keyInterceptorRef is { Id: not null, Context: not null })
        {
            await _keyInterceptorRef.FocusAsync();
        }
    }

    private void UpdateSize(ChangeEventArgs eventArgs)
    {
        int size = int.Parse(eventArgs.Value?.ToString() ?? "1");
        _originalSize = ClampSize(size);
    }

    private int ClampSize(int size)
    {
        switch (size)
        {
            case < MinSize:
                size = MinSize;
                break;

            case > MaxSize:
                size = MaxSize;
                break;
        }

        return size;
    }

}