@page "/labirint/{seed?}"
@inject SoundService SoundService

<PageTitle>Labirint</PageTitle>
<MudStack Spacing="3">
    <MudText Typo="Typo.h4">Labirint!</MudText>

    @if (IsInit == false)
    {
        <MudStack AlignItems="AlignItems.Center" Row>
            <MudProgressCircular Indeterminate />
            <MudText Typo="Typo.body1">Загрузка..</MudText>
        </MudStack>
    }

    <div class="workspace" hidden="@(!IsInit)">
        @if (IsInit)
        {
            int entityBoxSize = _boxSize - _wallWidth;
            int playerSize = entityBoxSize / 2;

            Position draw = _vision.GetDraw(_labyrinth.Player) * _boxSize + _wallWidth;
            (int left, int top) = AlignmentHelper.CalculatePosition(Alignment.Center, draw, _boxSize, _wallWidth);

            <div class="info-panel">
                <MudStack Row Spacing="3">
                    <MudStack Row>
                        <MudIcon Color="Color.Warning" Icon="@MaterialDesignIcons.Normal.Bitcoin" Size="Size.Large" />
                        <MudText Color="Color.Warning" Typo="Typo.h6">@_score/@_maxScore</MudText>
                    </MudStack>
                    <MudStack Row>
                        <MudIcon Color="Color.Inherit" Icon="@MaterialDesignIcons.Normal.Hammer" Size="Size.Large" />
                        <MudText Color="Color.Inherit" Typo="Typo.h6">@_molotCount/@MaxMolotCount</MudText>
                    </MudStack>
                    <MudStack Row>
                        <MudIcon Color="Color.Error" Icon="@MaterialDesignIcons.Normal.Bomb" Size="Size.Large" />
                        <MudText Color="Color.Error" Typo="Typo.h6"> @_bombaCount/@MaxBombaCount</MudText>
                    </MudStack>
                    <MudStack Row>
                        <MudText Typo="Typo.h6">X:@_labyrinth.Player.X (@left) Y:@_labyrinth.Player.Y (@top)</MudText>
                    </MudStack>
                </MudStack>
            </div>

            <div class="field">

                <CascadingValue Value="_renderParameter">
                    <MazeWalls @ref="_mazeWalls" />
                    <MazeEntities @ref="_mazeSands" />
                </CascadingValue>

                <img src="/images/runner.png"
                     style="position:absolute;
                            z-index: 100;
                            left: @(left)px;
                            top: @(top)px;
                            width: @(playerSize)px;
                            height: @(playerSize)px;"
                     alt="Бегун" />

            </div>
        }

        <div class="control-panel">
            <MudStack Spacing="3">
                <MudText Typo="Typo.h5">Параметры:</MudText>
                <MazeSeed Seed="@Seed" @ref="_seeder" />
                <MudStack>
                    <MudNumericField Label="Размер" Min="@MinSize" Max="@MaxSize" DebounceInterval="300" @bind-Value="_originalSize" />
                    <MudSlider @bind-Value="_originalSize" Min="@MinSize" Max="@MaxSize" Color="Color.Info" Size="Size.Medium" />
                </MudStack>
                <MudStack>
                    <MudNumericField Label="Плотность" Min="0" Max="100" DebounceInterval="300" @bind-Value="_density" />
                    <MudSlider @bind-Value="_density" Min="0" Max="100" Color="Color.Info" Size="Size.Medium" />
                </MudStack>

                <MudButton OnClick="GenerateAsync" Variant="Variant.Outlined" Color="Color.Info" FullWidth>Генерировать</MudButton>
                <KeyInterceptor OnMoveKeyDown="OnMoveKeyDown" OnAttackKeyDown="OnAttackKeyDown" />
            </MudStack>
        </div>
    </div>

</MudStack>
