@page "/maze"
@inject SoundService SoundService

<PageTitle>Labirint != Maze</PageTitle>
<KeyInterceptor OnMoveKeyDown="OnMoveKeyDown" OnAttackKeyDown="OnAttackKeyDown" @ref="_keyInterceptor">
</KeyInterceptor>
<MudStack Spacing="3">
    <MudText Typo="Typo.h4">Labirint != Maze!</MudText>

    @if (_isInit == false)
    {
        <MudStack AlignItems="AlignItems.Center" Row>
            <MudProgressCircular Indeterminate />
            <MudText Typo="Typo.body1">Загрузка..</MudText>
        </MudStack>
    }
    else
    {
        <div class="field">

            @{
                int size = 370;
                int halfBoxSize = size / _originalSizeDisplay;
                int wallWidth = Math.Max(1, halfBoxSize / 10 * 2);
            }

            <MazeWalls @ref="_mazeWalls" Maze="lab" HalfBoxSize="halfBoxSize" WallWidth="wallWidth" />
            <MazeSands @ref="_mazeSands" Sand="_sand" HalfBoxSize="halfBoxSize" WallWidth="wallWidth" />

            @{
                int entityBoxSize = halfBoxSize * 2 - wallWidth;
                int myLeft = (_myPositionXDisplay - 1) * halfBoxSize + wallWidth;
                int myTop = (_myPositionYDisplay - 1) * halfBoxSize + wallWidth;
                <div style="position:absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            z-index: 100;
                            left: @(myLeft)px;
                            top: @(myTop)px;
                            width: @(entityBoxSize)px;
                            height: @(entityBoxSize)px;">
                    <img src="/images/runner.png" style="width: @(halfBoxSize)px; height: @(halfBoxSize)px;" alt="Бегун" />
                </div>

                if (!_exitNotFound && _way != null)
                {
                    int x = _myPositionY;
                    int y = _myPositionX;
                    road? t = _way;

                    while (t != null)
                    {
                        switch (t.cur)
                        {
                            case 1:
                                <DrawLine Color="@("darkred")"
                                          Width="@(wallWidth)"
                                          X1="@(y * halfBoxSize)"
                                          Y1="@(x * halfBoxSize)"
                                          X2="@((y + 2) * halfBoxSize)"
                                          Y2="@(x * halfBoxSize)" />

                                y += 2;
                                break;

                            case 2:
                                <DrawLine Color="@("darkred")"
                                          Width="@(wallWidth)"
                                          X1="@(y * halfBoxSize)"
                                          Y1="@(x * halfBoxSize)"
                                          X2="@((y - 2) * halfBoxSize)"
                                          Y2="@(x * halfBoxSize)" />

                                y -= 2;
                                break;

                            case 3:
                                <DrawLine Color="@("darkred")"
                                          Width="@(wallWidth)"
                                          X1="@(y * halfBoxSize)"
                                          Y1="@(x * halfBoxSize)"
                                          X2="@(y * halfBoxSize)"
                                          Y2="@((x + 2) * halfBoxSize)" />

                                x += 2;
                                break;

                            case 4:
                                <DrawLine Color="@("darkred")"
                                          Width="@(wallWidth)"
                                          X1="@(y * halfBoxSize)"
                                          Y1="@(x * halfBoxSize)"
                                          X2="@(y * halfBoxSize)"
                                          Y2="@((x - 2) * halfBoxSize)" />

                                x -= 2;
                                break;
                        }

                        t = t.next;
                    }
                }
            }
        </div>

        <div style="position: absolute; right: 20px; width: 250px;">
            <MudStack Spacing="3">
                <MudStack Row>
                    <MudIcon Color="Color.Warning" Icon="@MaterialDesignIcons.Normal.Bitcoin" Size="Size.Large" />
                    <MudText Color="Color.Warning" Typo="Typo.h6">@_score/@_maxScore</MudText>
                </MudStack>
                <MudStack Row>
                    <MudIcon Color="Color.Inherit" Icon="@MaterialDesignIcons.Normal.Hammer" Size="Size.Large" />
                    <MudText Color="Color.Inherit" Typo="Typo.h6">@_molotCount/@MaxMolotCount</MudText>
                </MudStack>
                <MudStack Row>
                    <MudIcon Color="Color.Error" Icon="@MaterialDesignIcons.Normal.Bomb" Size="Size.Large" />
                    <MudText Color="Color.Error" Typo="Typo.h6"> @_bombaCount/@MaxBombaCount</MudText>
                </MudStack>
                <MudDivider Class="my-2" Style="height:2px" DividerType="DividerType.FullWidth" />

                <MudText Typo="Typo.h5">Параметры:</MudText>
                <MudTextField @bind-Value="_seed" Label="Зерно генерации" DebounceInterval="300" />
                <MudStack>
                    <MudNumericField Label="Размер" Min="@MinSize" Max="@MaxSize" DebounceInterval="300" Value="_originalSize" />
                    <MudSlider @bind-Value="_originalSize" Min="@MinSize" Max="@MaxSize" Color="Color.Info" Size="Size.Medium" />
                </MudStack>
                <MudStack>
                    <MudNumericField Label="Плотность" Min="0" Max="100" DebounceInterval="300" Value="_density" />
                    <MudSlider @bind-Value="_density" Min="0" Max="100" Color="Color.Info" Size="Size.Medium" />
                </MudStack>
                <MudStack>
                    <MudNumericField Label="Скорость" Min="1" Max="100" DebounceInterval="300" Value="_speed" />
                    <MudSlider @bind-Value="_speed" Min="1" Max="100" Color="Color.Info" Size="Size.Medium" />
                </MudStack>

                <MudButton OnClick="GenerateAsync" Variant="Variant.Outlined" Color="Color.Info" FullWidth>Генерировать</MudButton>
                <MudButton OnClick="FocusFieldAsync" Variant="Variant.Outlined" Color="Color.Info" FullWidth>Играть</MudButton>
                <MudButton OnClick="FindExitAsync" Variant="Variant.Outlined" Color="Color.Info" FullWidth>Найти выход</MudButton>
            </MudStack>
        </div>
    }

</MudStack>
