@page "/labirint/{seed?}"
@inject SoundService SoundService

<PageTitle>Labirint</PageTitle>
<MudStack Spacing="3">
    <MudText Typo="Typo.h4">Labirint!</MudText>

    @if (IsInit == false)
    {
        <MudStack AlignItems="AlignItems.Center" Row>
            <MudProgressCircular Indeterminate />
            <MudText Typo="Typo.body1">Загрузка..</MudText>
        </MudStack>
    }

    <div class="workspace" hidden="@(!IsInit)">
        @if (IsInit)
        {
            <div class="info-panel">
                <MudStack Spacing="3">
                    <Inventory Stacks="@InventoryService.Stacks"/>
                    <MudStack Row>
                        <MudText Typo="Typo.h6">X:@_labyrinth.Player.X Y:@_labyrinth.Player.Y</MudText>
                    </MudStack>
                </MudStack>
            </div>

            <div class="field">

                <CascadingValue Value="_renderParameter">
                    <MazeWalls @ref="_mazeWalls" />
                    <MazeEntities @ref="_mazeSands" />
                </CascadingValue>

                @{
                    Position draw = _vision.GetDraw(_labyrinth.Player) * _boxSize + _wallWidth;
                    (int offset, int entitySize) = AlignmentHelper.CalculateOffset(_boxSize, _wallWidth, 0.5);
                    (int left, int top) = AlignmentHelper.CalculatePosition(Alignment.Center, draw, offset);

                    <img src="/images/runner.png"
                         style="position:absolute;
                            z-index: 100;
                            left: @(left)px;
                            top: @(top)px;
                            width: @(entitySize)px;
                            height: @(entitySize)px;"
                         alt="Бегун" />
                }
            </div>
        }

        <div class="control-panel">
            <MudStack Spacing="3">
                <MudText Typo="Typo.h5">Параметры:</MudText>
                <MazeSeed @ref="_seeder" Seed="@Seed" Size="@_originalSize" Density="@_density" IsExitFound="@_isExitFound" />
                <MudStack>
                    <MudNumericField Label="Размер" Min="@MinSize" Max="@MaxSize" DebounceInterval="300" @bind-Value="_originalSize" />
                    <MudSlider @bind-Value="_originalSize" Min="@MinSize" Max="@MaxSize" Color="Color.Info" Size="Size.Medium" />
                </MudStack>
                <MudStack>
                    <MudNumericField Label="Плотность" Min="0" Max="100" DebounceInterval="300" @bind-Value="_density" />
                    <MudSlider @bind-Value="_density" Min="0" Max="100" Color="Color.Info" Size="Size.Medium" />
                </MudStack>

                <MudButton OnClick="GenerateAsync" Variant="Variant.Outlined" Color="Color.Info" FullWidth>Генерировать</MudButton>
                <KeyInterceptor OnMoveKeyDown="OnMoveKeyDown" OnAttackKeyDown="OnAttackKeyDown" />
            </MudStack>
        </div>
    </div>

</MudStack>
