@using Labirint.Core.Items.Common
@using LabirintBlazorApp.Common.Animation
@inherits RenderComponent

<MudStack Row Spacing="3">
    @foreach (AnimatedStack animatedStack in _stackCache.Values)
    {
        ItemStack stack = animatedStack.Stack;
        Item item = stack.Item;

        if (stack.Count <= 0 && animatedStack.IsIdle)
        {
            continue;
        }

        <div class="inventory-item-container">
            <div class="inventory-item
                            @(stack.IsInfinite ? " score" : string.Empty)
                            @(animatedStack.GetAnimation())"
                 @onanimationend="() => AnimationCompleted(animatedStack)">

                <img src="@item.Icon" alt="@item.DisplayName">
                <div class="item-name"
                     @onmouseout="HideDescription"
                     @onmouseover="() => ShowDescription(item)">
                    @item.DisplayName
                </div>
                <div class="count">@stack.Count</div>
                <div class="max-count">@(stack.IsInfinite ? "∞" : stack.MaxCount)</div>
            </div>

            @{
                ControlSettings? control = item.ControlSettings;

                if (control != null)
                {
                    <div class="keyboard-button" @onclick="() => OnClicked(control.ActivateKey)">
                        <span>
                            @ControlScheme.GetActivateKey(control).DisplaySymbol
                        </span>
                    </div>
                }
            }
        </div>
    }
</MudStack>

@if (_showDescription && _currentItem != null)
{
    <MudPopover AnchorOrigin="Origin.BottomCenter" Open="@_showDescription" Paper Style="max-width: 600px" TransformOrigin="Origin.TopCenter">
        <MudCard Outlined>
            <MudCardContent>
                @foreach (string paragraph in _currentItem.Description.Split("\n"))
                {
                    if (paragraph.StartsWith("---", StringComparison.InvariantCultureIgnoreCase))
                    {
                        <MudDivider Class="my-2" DividerType="DividerType.FullWidth" Light Style="height: 2px;" />
                    }
                    else
                    {
                        <MudText Align="Align.Justify">@paragraph</MudText>
                    }
                }
            </MudCardContent>
        </MudCard>
    </MudPopover>
}
